[submodule "public/steal"]
	path = public/steal
	url = git@github.com:ahenriksen/steal.git
[submodule "public/jquery"]
	path = public/jquery
	url = git@github.com:ahenriksen/jquerymx.git
[submodule "public/documentjs"]
	path = public/documentjs
	url = git@github.com:ahenriksen/documentjs.git
[submodule "public/funcunit"]
	path = public/funcunit
	url = git@github.com:ahenriksen/funcunit.git
